body {
  background: rgb(235, 232, 232);
}

.header {
  background: rgba(0, 0, 0, 0.267);
  font-weight: bold;
  color: #2196f3;
  font-size: 18px;
  position: relative;
  text-align: right;
  padding: 0px;
}

#logo {
  padding: 6px 8px 6px 16px;
  width: auto;
  height: auto;
}

#logout {
  font-weight: bold;
  color: #2196f3;
  font-size: 18px;
  float: right;
  top: 50%;
  padding: 25px;
}

.logout:hover {
  color: #000;
}

.sidebar {
  display: Inline-block;
  min-width: 150px;
  height: 100%;
  position: fixed;
  top: 92px;
  left: 0px;
  background: rgba(0, 0, 0, 0.151);
  padding: 10px 9px 10px 9px;
  list-style: none;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196f3;
  display: block;
}

.sidebar a:hover {
  color: #000;
}